/* Estilos para a página de cálculo de média */

body{
    background-color: #8fccc0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

footer{
    text-align: center;
    margin-top: 20px;
    color: #333;
}

input{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 100px;
}

button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    background-color: #aeb1b4;
}

.sombra{
    display: inline-block;
    background-color: rgba(78, 134, 93, 0.384);
    padding: 20px;
    border: 1px solid #333;
    border-radius: 70px;
}

/* Estilos para os butoes */
.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}